{% extends "HomePage/base.html" %}
{% load i18n %}
{% block title %}{% trans "CrispyMachine - Filters" %}{% endblock %}
{% load static %}
{% load bootstrap_pagination %}

{% block content %}
    <link rel="stylesheet" href="{% static 'orders/all_order_style.css' %}">
            
    <div class="block" style="height:100rem; background:#FFFFFF;">
      <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8 mt-3" align="center" style="height:98rem; background:#FFFFF0;">
            <div class="navigation">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "HOME" %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% trans "ALL ORDERS" %}</li>
                    </ol>
                </nav>
            </div>
            
            <div class="row">
            
              <div class="col-sm-2" style="height:90rem; background:#FFFFF0;">
                <div class="list-group">
                    <li class="list-group-item list-group-item list-group-item-secondary">
                        {% trans "Category Filtering" %}
                    </li>
                    <<form method="get">
                        {{ filter.form.as_p }}
                        <input type="submit" />
                    </form>
                    {% for obj in filter.qs %}
                        {{ obj }}<br />
                    {% endfor %}
                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">
                        {% trans "Accept" %}
                    </a>
                </div>
    
                <div class="list-group mt-4">
                    <li class="list-group-item list-group-item list-group-item-secondary">
                        {% trans "City Filtering" %}
                    </li>
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref2">
                      <option selected>Choose...</option>
                      {% for one_city in city %}
                      <option value="1">{{ one_city.title }}</option>
                      {% endfor %}
                    </select>
                    <div class="overflow-auto" style="height: 36rem;">
                    {% for one_city in city %}
                        <a href="#" class="list-group-item list-group-item-action list-group-item">
                            {{ one_city.title }}
                        </a>
                    {% endfor %}
                    </div>
                    <a href="#" class="list-group-item mt-1 list-group-item-action list-group-item-success">
                        {% trans "Accept" %}
                    </a>
                </div>
                
              </div>
              <div class="col-sm-10">
              
              <div class="row row-cols-1 row-cols-md-3 ml-3">
                {% for order in orders_all %}
                    <div class="col mb-4">
                        <div class="card border-dark">
                            <img class="card-img-top" src="{{order.image_cover.url }}" width="200" height="auto">
                            <div class="card-body">
                                <h5 class="card-title">{{ order.title }}</h5>
                                <p class="card-text">{{ order.description }}</p>
                            </div>
                            <div class="card-footer bg-transparent border-dark">
                                <a class="btn btn-outline-dark col"
                                   href="{% url 'order_and_suggestion_view' url=order.pk %}">
                                    {% trans "Details" %}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="pagination">
                    {% bootstrap_paginate orders_all range=6 %}
                </div>   
              </div>
            </div>
          </div>
          
      </div>
    </div>


{% endblock %}

