{% extends "HomePage/base.html" %}
{% load i18n %}
{% block title %}{% trans "Log Out" %}{% endblock %}

{% block content %}

<div class="block col mb-5 mt-5">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 mt-3" align="center">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">{% trans "Thank you for using Crispy Order" %}</h1>
                <p class="lead">
                    {% trans "Stay tuned for " %}
                    <a href="">{% trans "new orders."%}</a>
                    {% trans "Also follow the " %}
                    <a href="">{% trans "news " %}</a>
                    {% trans "and " %}
                    <a href="">{% trans "site updates." %}</a>
                </p>
              </div>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    <a href="{% url 'login' %}">Log In Again</a>
                </small>
            </div>
        </div>
    </div>
</div>

{% endblock %}

