{% extends "HomePage/base.html" %}
{% load i18n %}
{% block title %}{% trans "CO | DASHBOARD" %}{% endblock %}
{% load static %}
{% load bootstrap_pagination %}

{% block content %}

<link rel="stylesheet" href="{% static 'dashboard/style.css' %}">

<div class="block col mb-4" style=" background:#FFFFFF;">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 mt-3" align="center" style=" background:#FFFFF0;">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "HOME" %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans "DASHBOARD" %} - "{{user.username}}"</li>
              </ol>
            </nav>
            <div class="last">
                <div class="card 123 bg-light ml-2 mb-3" style="max-width: 120rem;">
                    <div class="card-header">
                        {% trans "10 Recent Orders and Offers" %}
                        <small class="ml-3"><a href="{% url 'dashboard-order' %}">{% trans "MY ORDERS" %}</a></small>
                        <small class="ml-3"><a href="{% url 'dashboard_sug_active' %}">{% trans "MY SUGGESTIONS" %}</a></small>
                    </div>
                    <ul class="list-group list-group-horizontal">
                            <!--Заказы и предложения инфопанели-->
                            {% if sort_order_and_suggestion_dict %}
                            <li class="list-group-item list-group-item" style="width: 120rem; height: 100%;">
                                <div class="row row-cols-1 row-cols-md-3">

                                    {% for key, value in sort_order_and_suggestion_dict.items %}
                                        {% if forloop.counter < 10 %}
                                            <div class="col mb-4">
                                            {% for suggestion in user_suggestion %}
                                                {% if value == suggestion %}
                                                    <div class="card">
                                                        <div class="card-body text-info ">
                                                          <p class="card-text">{{ suggestion.offer_description }}</p>
                                                        </div>
                                                        <div class="card-footer">
                                                          <a href="{% url 'suggestion_detail' url=suggestion.id %}"
                                                             class="btn btn-outline-info col">
                                                              {% trans "Details" %}
                                                          </a>
                                                          <small class="text-muted">{% trans "Create: " %}{{ suggestion.date_create }}</small>
                                                        </div>
                                                      </div>
                                                {% endif %}
                                            {% endfor %}
                                            {% for order in user_order %}
                                                {% if value == order %}
                                                    <div class="card">
                                                        <div class="card-body text-success ">
                                                          <h5 class="card-title">{{ order.title }}</h5>
                                                          <p class="card-text">{{ order.description }}</p>
                                                        </div>
                                                        <div class="card-footer">
                                                          <a href="{% url 'order_and_suggestion_view' url=order.id %}"
                                                             class="btn btn-outline-success col">
                                                              {% trans "Details" %}
                                                          </a>
                                                          <small class="text-muted">{% trans "Create: " %}{{ order.date_create }}</small>
                                                        </div>
                                                      </div>
                                                {% endif %}
                                            {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </li>
                            {% else %}
                                <li class="list-group-item list-group-item" style="width: 120rem; height: 48rem;">
                                    <div class="col mb-4">
                                        hi
                                    </div>
                                </li>
                            {% endif %}
                            <!--Заказы и предложения инфопанели-->
                    </ul>
                </div>
                <div class="card bg-light ml-2 mb-3">
                    <div class="card-header" align="center">
                        <h5 class="card-title">{% trans "NEWS" %}</h5>
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="card 123 bg-light ml-2 mb-3 mr-2" style="max-width: 50rem;" align="center">
                    <div class="card-header">
                        {% trans "Statistic | " %}{{user.username}}
                    </div>
                    <img src="{{ user.profile.image.url }}" class="card-img-top" alt="...">
                    <ul class="list-group text-success">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {% trans "Created Orders: " %}
                            <span class="badge badge-success badge-pill">{{ order_created }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {% trans "Discussion orders: " %}
                            <span class="badge badge-success badge-pill">{{ order_discussion }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {% trans "Work orders: " %}
                            <span class="badge badge-success badge-pill">{{ order_inwork }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {% trans "Сompleted orders: " %}
                            <span class="badge badge-success badge-pill">{{ order_done }}</span>
                        </li>
                    </ul>
                    <ul class="list-group text-info">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {% trans "Created Suggestions: " %}
                            <span class="badge badge-info badge-pill">{{ suggestion_created }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {% trans "Discussion suggestions: " %}
                            <span class="badge badge-info badge-pill">{{ suggestion_discussion }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {% trans "Work suggestions: " %}
                            <span class="badge badge-info badge-pill">{{ suggestion_inwork }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {% trans "Сompleted suggestions: " %}
                            <span class="badge badge-info badge-pill">{{ suggestion_done }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
       var mh = 0;
       $(".123").each(function () {
           var h_block = parseInt($(this).height());
           if(h_block > mh) {
              mh = h_block;
           };
       });
       $(".123").height(mh);
</script>






{% endblock %}