{% extends "HomePage/base.html" %}
{% load i18n %}
{% block title %}{% trans "CO | MY SUGGESTIONS" %}{% endblock %}
{% load static %}
{% load bootstrap_pagination %}

{% block content %}
<link rel="stylesheet" href="{% static 'dashboard/style.css' %}">

<div class="block col mb-4" style=" background:#FFFFFF;">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 mt-3" align="center" style=" background:#FFFFF0;">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "HOME" %}</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans "DASHBOARD" %} - "{{user.username}}"</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans "MY SUGGESTIONS" %}</li>
              </ol>
            </nav>
            <div class="col mt-2" style=" min-height: 30rem;">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist" align="center">
                        <a class="nav-item nav-link active col" id="nav-discussion-tab" data-toggle="tab" href="#nav-discussion"
                           role="tab" aria-controls="nav-discussion" aria-selected="true">
                            {% trans "DISCUSSION Suggestions" %}
                        </a>
                        <a class="nav-item nav-link col" id="nav-work-tab" data-toggle="tab" href="#nav-work"
                           role="tab" aria-controls="nav-work" aria-selected="false">
                            {% trans "WORK Suggestions" %}
                        </a>
                        <a class="nav-item nav-link col" id="nav-done-tab" data-toggle="tab" href="#nav-done"
                           role="tab" aria-controls="nav-done" aria-selected="false">
                            {% trans "DONE Suggestions" %}
                        </a>
                        <a class="nav-item nav-link col" id="nav-canceled-tab" data-toggle="tab" href="#nav-canceled"
                           role="tab" aria-controls="nav-canceled" aria-selected="false">
                            {% trans "CANCELED Suggestions" %}
                        </a>
                        <a class="nav-item nav-link col" id="nav-featured-tab" data-toggle="tab" href="#nav-featured"
                           role="tab" aria-controls="nav-featured" aria-selected="false">
                            {% trans "FEATURED Suggestions" %}
                        </a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">

                    <div class="tab-pane fade show active mt-3" id="nav-discussion" role="tabpanel" aria-labelledby="nav-discussion-tab">
                        {% if Discussion_suggestions_obj %}
                            <div class="row row-cols-1 row-cols-md-3 mt-2" >
                              {% for obj in Discussion_suggestions_obj %}
                                <div class="col mb-3">
                                  <div class="card border-dark ">
                                    <img class="card-img-top text-white bg-secondary" src="{{obj.order.image_cover.url }}" width="200" height="auto">
                                    <div class="card-body text-white bg-secondary">
                                      <h5 class="card-title text-white bg-secondary">{% trans "ORDER №" %}{{obj.order.id}} - "{{ obj.order.title }}"</h5>
                                      <p class="card-text">{{ obj.order.description }}</p>
                                    </div>
                                    <div class="card-footer text-white bg-secondary ">
                                      <a class="btn btn-dark col"
                                         href="{% url 'order_and_suggestion_view' url=obj.order.pk %}">
                                          {% trans "ORDER DETAIL" %} 
                                      </a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{% trans "SUGGESTION №" %}{{obj.id}}</h5>
                                        
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                {% trans "OFFER CREATE: " %}
                                                <span class="badge badge-primary mr-2">{{ obj.date_create }}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                {% trans "OFFER DEADLINE: " %}
                                                <span class="badge badge-primary mr-2">{{ obj.deadline }}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                {% trans "OFFER PRICE: " %}
                                                <span class="badge badge-primary mr-2">{{ obj.offer_price }}</span>
                                            </li>
                                        </ul>
                                        <p class="card-text">{{ obj.offer_description }}</p>
                                    </div>
                                    <div class="card-footer">
                                    <a class="btn btn-outline-dark col" href="{% url 'suggestion_detail' url=obj.pk %}">
                                        {% trans "SUGGESTION DETAIL" %} 
                                    </a>
                                    </div>
                                  </div>
                                </div>
                              {% endfor %}
                            </div>
                            <div class="row">
                            <div class="col-sm-9" align="center">
                            </div>
                            <div class="col-sm-3">
                              <div class="pagination mt-4 mb-4">
                                {% bootstrap_paginate Discussion_suggestions_obj range=3 %}
                              </div>
                            </div>
                            </div>
                        {% else %}
                            <div class="row" style="width: 100%;">
                                <div class="col mb-4"  align="center">
                                    <small>
                                        {% trans "Welcome, unfortunately you do not have orders yet. To create an order, click here." %}
                                        <a href="{% url 'create_single_order' %}">{% trans "create single order" %}</a>
                                        {% trans " or" %}
                                        <a href="{% url 'create_multiple_order' %}">{% trans "create multiple order" %}</a>
                                    </small>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="tab-pane fade mt-3" id="nav-work" role="tabpanel" aria-labelledby="nav-work-tab">
                        {% if InWork_suggestions_obj %}
                            <div class="row row-cols-1 row-cols-md-3 mt-2" >
                              {% for obj in InWork_suggestions_obj %}
                                <div class="col mb-3">
                                  <div class="card border-dark ">
                                    <img class="card-img-top text-white bg-secondary" src="{{obj.order.image_cover.url }}" width="200" height="auto">
                                    <div class="card-body text-white bg-secondary">
                                      <h5 class="card-title text-white bg-secondary">{% trans "ORDER №" %}{{obj.order.id}} - "{{ obj.order.title }}"</h5>
                                      <p class="card-text">{{ obj.order.description }}</p>
                                    </div>
                                    <div class="card-footer text-white bg-secondary ">
                                      <a class="btn btn-dark col"
                                         href="{% url 'order_and_suggestion_view' url=obj.order.pk %}">
                                          {% trans "ORDER DETAIL" %} 
                                      </a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{% trans "SUGGESTION №" %}{{obj.id}}</h5>
                                        
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                {% trans "OFFER CREATE: " %}
                                                <span class="badge badge-primary mr-2">{{ obj.date_create }}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                {% trans "OFFER DEADLINE: " %}
                                                <span class="badge badge-primary mr-2">{{ obj.deadline }}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                {% trans "OFFER PRICE: " %}
                                                <span class="badge badge-primary mr-2">{{ obj.offer_price }}</span>
                                            </li>
                                        </ul>
                                        <p class="card-text">{{ obj.offer_description }}</p>
                                    </div>
                                    <div class="card-footer">
                                    <a class="btn btn-outline-dark col" href="{% url 'suggestion_detail' url=obj.pk %}">
                                        {% trans "SUGGESTION DETAIL" %} 
                                    </a>
                                    </div>
                                  </div>
                                </div>
                              {% endfor %}
                            </div>
                            <div class="row">
                            <div class="col-sm-9" align="center">
                            </div>
                            <div class="col-sm-3">
                              <div class="pagination mt-4 mb-4">
                                {% bootstrap_paginate InWork_suggestions_obj range=3 %}
                              </div>
                            </div>
                            </div>
                        {% else %}
                            <div class="row" style="width: 100%;">
                                <div class="col mb-4"  align="center">
                                    <small>
                                        {% trans "Welcome, unfortunately you do not have orders yet. To create an order, click here." %}
                                        <a href="{% url 'create_single_order' %}">{% trans "create single order" %}</a>
                                        {% trans " or" %}
                                        <a href="{% url 'create_multiple_order' %}">{% trans "create multiple order" %}</a>
                                    </small>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="tab-pane fade mt-3" id="nav-done" role="tabpanel" aria-labelledby="nav-done-tab">
                        {% if Done_suggestions_obj %}
                            <div class="row row-cols-1 row-cols-md-3 mt-2" >
                              {% for obj in Done_suggestions_obj %}
                                <div class="col mb-3">
                                  <div class="card border-dark ">
                                    <img class="card-img-top text-white bg-secondary" src="{{obj.order.image_cover.url }}" width="200" height="auto">
                                    <div class="card-body text-white bg-secondary">
                                      <h5 class="card-title text-white bg-secondary">{% trans "ORDER №" %}{{obj.order.id}} - "{{ obj.order.title }}"</h5>
                                      <p class="card-text">{{ obj.order.description }}</p>
                                    </div>
                                    <div class="card-footer text-white bg-secondary ">
                                      <a class="btn btn-dark col"
                                         href="{% url 'order_and_suggestion_view' url=obj.order.pk %}">
                                          {% trans "ORDER DETAIL" %} 
                                      </a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{% trans "SUGGESTION №" %}{{obj.id}}</h5>
                                        
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                {% trans "OFFER CREATE: " %}
                                                <span class="badge badge-primary mr-2">{{ obj.date_create }}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                {% trans "OFFER DEADLINE: " %}
                                                <span class="badge badge-primary mr-2">{{ obj.deadline }}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                {% trans "OFFER PRICE: " %}
                                                <span class="badge badge-primary mr-2">{{ obj.offer_price }}</span>
                                            </li>
                                        </ul>
                                        <p class="card-text">{{ obj.offer_description }}</p>
                                    </div>
                                    <div class="card-footer">
                                    <a class="btn btn-outline-dark col" href="{% url 'suggestion_detail' url=obj.pk %}">
                                        {% trans "SUGGESTION DETAIL" %} 
                                    </a>
                                    </div>
                                  </div>
                                </div>
                              {% endfor %}
                            </div>
                            <div class="row">
                            <div class="col-sm-9" align="center">
                            </div>
                            <div class="col-sm-3">
                              <div class="pagination mt-4 mb-4">
                                {% bootstrap_paginate Done_suggestions_obj range=3 %}
                              </div>
                            </div>
                            </div>
                        {% else %}
                            <div class="row" style="width: 100%;">
                                <div class="col mb-4"  align="center">
                                    <small>
                                        {% trans "Welcome, unfortunately you do not have orders yet. To create an order, click here." %}
                                        <a href="{% url 'create_single_order' %}">{% trans "create single order" %}</a>
                                        {% trans " or" %}
                                        <a href="{% url 'create_multiple_order' %}">{% trans "create multiple order" %}</a>
                                    </small>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="tab-pane fade mt-3" id="nav-canceled" role="tabpanel" aria-labelledby="nav-canceled-tab">
                        {% if Canceled_suggestions_obj %}
                            <div class="row row-cols-1 row-cols-md-3 mt-2" >
                              {% for obj in Canceled_suggestions_obj %}
                                <div class="col mb-3">
                                  <div class="card border-dark ">
                                    <img class="card-img-top text-white bg-secondary" src="{{obj.order.image_cover.url }}" width="200" height="auto">
                                    <div class="card-body text-white bg-secondary">
                                      <h5 class="card-title text-white bg-secondary">{% trans "ORDER №" %}{{obj.order.id}} - "{{ obj.order.title }}"</h5>
                                      <p class="card-text">{{ obj.order.description }}</p>
                                    </div>
                                    <div class="card-footer text-white bg-secondary ">
                                      <a class="btn btn-dark col"
                                         href="{% url 'order_and_suggestion_view' url=obj.order.pk %}">
                                          {% trans "ORDER DETAIL" %} 
                                      </a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{% trans "SUGGESTION №" %}{{obj.id}}</h5>
                                        
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                {% trans "OFFER CREATE: " %}
                                                <span class="badge badge-primary mr-2">{{ obj.date_create }}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                {% trans "OFFER DEADLINE: " %}
                                                <span class="badge badge-primary mr-2">{{ obj.deadline }}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                {% trans "OFFER PRICE: " %}
                                                <span class="badge badge-primary mr-2">{{ obj.offer_price }}</span>
                                            </li>
                                        </ul>
                                        <p class="card-text">{{ obj.offer_description }}</p>
                                    </div>
                                    <div class="card-footer">
                                    <a class="btn btn-outline-dark col" href="{% url 'suggestion_detail' url=obj.pk %}">
                                        {% trans "SUGGESTION DETAIL" %} 
                                    </a>
                                    </div>
                                  </div>
                                </div>
                              {% endfor %}
                            </div>
                            <div class="row">
                            <div class="col-sm-9" align="center">
                            </div>
                            <div class="col-sm-3">
                              <div class="pagination mt-4 mb-4">
                                {% bootstrap_paginate Canceled_suggestions_obj range=3 %}
                              </div>
                            </div>
                            </div>
                        {% else %}
                            <div class="row" style="width: 100%;">
                                <div class="col mb-4"  align="center">
                                    <small>
                                        {% trans "Welcome, unfortunately you do not have orders yet. To create an order, click here." %}
                                        <a href="{% url 'create_single_order' %}">{% trans "create single order" %}</a>
                                        {% trans " or" %}
                                        <a href="{% url 'create_multiple_order' %}">{% trans "create multiple order" %}</a>
                                    </small>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="tab-pane fade mt-3" id="nav-featured" role="tabpanel" aria-labelledby="nav-featured-tab">...</div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

